* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-color: gray;
}

/*Navbar*/

.navbar {
  display: flex;
  padding-left: 8rem;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-brand {
  font-family: 'Cardo';
  font-size: 30px;
  font-weight: 700;
}

.navbar-nav {
  list-style: none;
  margin-left: auto;
  font-weight: 500;
  padding-right: 3rem;
}

.navbar-nav li:hover {
  
  background-color: rgba(128,128,128,0.5);
  box-shadow: 0 0 20px whitesmoke;
}

.navbar-nav li {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Home */

#home {
  display: inline-block;
  background-image: url("..//images/home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
}

.home-items1 {
  text-align: left;
  padding-top: 20%;
  padding-left: 3rem;
  letter-spacing: 5px;
  color: black;
}
.home-items1 h1{
  font-family: 'Montserrat';
  font-size: 3vw;
  font-weight: 900;
}
.home-items1 p{
  font-family: 'Montserrat';
  font-size: 2vw;
  font-weight: 700;
}

.home-items2 {
  text-align: right;
  letter-spacing: 5px;
  color: black;
  padding-right: 3rem;
}

.home-items2 h1 {
  font-weight: 900;
  font-size: 3vw;
  color: white;
}

.home-items2 p {
  font-weight: 700;
  font-size: 2vw;
  color: white;
}

/* Tools */

.card {
  padding: 6px;
}

.card-text {
  text-align: center;
  margin-top: 50px;
  font-weight: 900;
  color: white;
  font-size: 2vw;
}

#tools h1 {
  text-align: center;
  margin-top: 5rem;
  font-weight: 900;
  color: white;
  font-size: 2rem;
}

#tools p {
  font-weight: 300;
  font-size: 1rem;
}

.card h2{
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
}

.card p{
  color: black;
  font-weight: 400;
  text-align: center;
}

.card > div > a{
  color: black;
  text-align: center;
}

.container-fluid h1 {
  text-align: center;
}

.container-fluid h3 {
  text-align: center;
}

.button {
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/* Footer */
#pre-footer {
  padding-left: 15px;
  padding-top: 1rem;
  padding-right: 10%;
  background-color: #3d3d3d;
  color: white;
}

#pre-footer a {
  text-decoration: none;
}

#pre-footer div {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  min-height: 100px;
  font-size: 0.9rem;
}

#pre-footer h3 {
  font-size: 1rem;
  }

.contact-us {
  padding-left: 5rem;
}

.follow-us {
  padding-left: 6rem;
}

.maps {
  padding-left: 5rem
}

#footer {
  text-align: left;
  padding-left: 6rem;
}